body {
  font-family: 'Kanit', sans-serif;
	margin: 0 auto;
	padding: 0 auto;
}

section {
  height: 100%;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

.container__title {
  float: none;
  height: 110px;
  text-align: center;
}

.container__line {
  background-color: #a5a7b457;
  box-sizing: border-box;
  display: block;
  float: left;
  margin: 72px 0 0;
  opacity: 0.5;
  width: 100%;
}

.container__text {
  background-color: #ffffff;
  float: left;
  display: inline;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  margin: 60px auto 0;
  padding: 0 10px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  width: fit-content;
}

.container__text--white {
  background-color: #888a99;
  color: #ffffff;
}

.header {
  margin: 100px auto 0;
  position: absolute;
  width: 100%;
	z-index: 10;
}

.header__content {
  background: #e4e3e38a;
  display: flex;
  justify-content: space-between;
	height: 67px;
  margin: 0 10%;
  transition-duration: 0.5s;
  width: 80%;
}

.header__sticky {
  box-shadow: 0 3px 10px #888888;
  justify-content: center;
  left: 0;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.header__navigation {
  display: flex;
  justify-content: flex-end;
}

.header__menu {
	margin: 0;
	padding: 0;
}

.header__item {
  float: left;
  list-style-type: none;
	text-transform: uppercase;
}

.header__link-item {
	color: #000000;
  display: block;
  padding: 21px 20px 22px;
  text-decoration: none;
  transition-duration: 0.3s;
}

.header__link-item:hover {
  background: #6c6e7c;
  border-radius: 0 0 5px 5px;
  color: #ffffff;
  padding-top: 40px;
}

.header__burger-menu {
  display: none;
}

.logo {
	width: 170px;
}

.logo--center {
  background-clip: padding-box;
  background-color: #FFEDED;
  border: 5px double #363B43;
  display: block;
  margin: auto;
}

.swiper-wrapper{
	position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  box-sizing: border-box;
  height: 100%;
  padding: 50px 20px;
}

.flex-container {
  display: flex;
  float: none;
  justify-content: space-between;
}

.flex-container .offers__content--double {
  float: left;
  height: auto;
  margin-bottom: 10px;
  width: 66.4%;
}

.offers__content {
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  width: 32.8%;
}

.offers__content-image {
  display: block;
  float: none;
  transition-duration: 0.5s;
  width: 100%;
}

.offers__content:hover .offers__content-image {
  transform: scale(1.3);
}

.offers__content:hover .offers__link {
  opacity: 1;
  padding-left: 40px;
}

.offers__link {
  color: #ffffff;
  bottom: 20px;
  font-size: 24px;
  opacity: 0;
  padding-left: 150px;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 0.5s;
  z-index: 5;
}

.trends__image-container {
  height: 740px;
  overflow: hidden;
  width: 50%;
}

.trends__side-image {
  height: 100%;
}

.trends__container {
  background-color: #ffffff;
  height: 740px;
  position: absolute;
  right: 0;
  width: 600px;
}

.trends__content {
  box-sizing: border-box;
  display: block;
  float: left;
  padding: 0 0 10px;
  text-align: center;
  width: 50%;
}

.trends__content-block {
  height: 280px;
  margin-bottom: 16px;
  position: relative;
  width: 100%;
}

.trends__content-image {
  height: 160px;
  margin: 60px 10%;
  width: 80%;
}

.trends__hover-link {
  font-size: 50px;
  height: 280px;
  color: #ffffff;
  line-height: 275px;
  margin: 0 5%;
  opacity: 0;
  position: absolute;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.3s;
  width: 90%;
}

.trends__hover-link:hover {
  background-color: #6c6e7c9d;
  opacity: 1;
}

.trends__link {
  color: #000000;
  height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 0.3s;
}

.trends__link:hover {
  color: #6c6e7c;
  letter-spacing: 3px;
}

.trends__price {
  color: #6c6e7c;
  margin-top: 0;
}

.trends__del-price {
  color: #a5a7b4;
}

.trends__icon {
  border: 5px #a5a7b457 double;
  margin-top: 60px;
  width: 320px;
}

.trends__icon-image {
  float: left;
}

.trends__icon-title {
  font-size: 16px;
  font-weight: 400;
  margin: 25px auto 5px;
  text-transform: uppercase;
}

.trends__icon-text {
  color: #6c6e7c;
  margin-top: 0;
}

.team__block {
  height: 487px;
  margin-bottom: 60px;
  position: relative;
  width: 333px;
}

.team__span {
  background-color: #36373baf;
  box-sizing: border-box;
  color: #ffffff;
  height: 100%;
  opacity: 0;
  padding-top: 425px;
  position: absolute;
  text-align: center;
  transition-duration: 0.3s;
  width: 100%;
}

.team__span:hover {
  opacity: 1;
}

.team__name {
  letter-spacing: 2px;
  margin: 0;
}

.team__position {
  letter-spacing: 1px;
  margin: 0;
}

.team__image {
  height: 100%;
  width: 100%;
}

.footer {
  background-color: #888a99;
  padding-bottom: 40px;
}

.footer .flex-container {
  justify-content: space-around;
}

.contacts {
  width: 420px;
}

.contacts__text {
  color: #ffffff;
  text-align: center;
}

.contacts__line {
  background-color: #a5a7b457;
  opacity: 0.5;
}

.contacts__content {
  box-sizing: border-box;
  height: 80px;
}

.contacts__image {
  float: left;
  height: 100%;
}

.contacts__link {
  color: #ffffff;
  line-height: 75px;
  margin-left: 20px;
  text-decoration: none;
}

.form {
  background-clip: padding-box;
  background-color: #6c6e7c;
  border: 5px double #363B43;
  color: #ffffff;
  padding: 20px;
  width: 400px;
}

.form__label {
  display: block;
  padding: 25px 0 5px;
}

.form__label:first-child {
  padding-top: 0;
}

.form__input {
  box-sizing: border-box;
  width: 250px;
}

.form__textarea {
  box-sizing: border-box;
  height: 100px;
  resize: none;
  width: 100%;
}

.form__button {
  background-color: #FFEDED;
  cursor: pointer;
  height: 40px;
  letter-spacing: 1px;
  margin-top: 25px;
  text-transform: uppercase;
  transition-duration: 0.3s;
  width: 250px;
}

.form__button:hover {
  background-color: #c0a4a1;
}
  
@media screen and (max-width: 1015px) {

  .header__content {
    justify-content: center;
    left: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .header__menu {
    display: none;
  }

  .header__menu-open {
    display: block;
    left: -250px;
    position: absolute;
  }

  .header__item {
    float: none;
  }

  .header__link-item:hover {
    border-radius: 0 5px 5px 0;
    padding: 21px 20px 22px 100px;
  }

  .header__burger-menu {
    cursor: pointer;
    display: block;
    height: 46px;
    left: 10px;
    position: fixed;
    top: 10px;
    width: 54px;
  }

  .show_menu {
    transform: translateX(250px);
  }

  .container {
    width: 660px;
  }

  .container__line{
    display: none;
  }

  .flex-container {
    display: block;
    width: 100%;
  }

  .offers {
    height: 1135px;
  }

  .offers__content, 
  .flex-container .offers__content--double {
    float: left;
    margin: 0 5px 10px;
    width: 320px;
  }

  .offers__content:hover .offers__content-image {
    transform: none;
  }

  .offers__content:hover .offers__link {
    padding-left: 40px;
  }

  .offers__content--double .offers__content-image {
    height: 679.9px;
    margin-left: -150%;
    width: auto;
  }

  .offers__link {
    padding-left: 40px;
    opacity: 1;
  }

  .trends__container {
    height: 600px;
    position: relative;
    width: 100%;
  }

  .trends__content {
    margin-bottom: 60px;
  }

  .trends__content-block {
    height: 160px;
  }

  .trends__content-image {
    margin: 0 33px;
  }

  .trends__hover-link {
    display: none;
  }

  .trends__link:hover {
    letter-spacing: normal;
  }

  .trends__image-container {
    display: none;
  }

  .trends__icon {
    height: 100px;
    margin: 15px auto 45px;
    width: 450px;
  }

  .trends__icon:last-child {
    margin-bottom: 0;
  }

  .trends__icon-title {
    font-size: 24px;
    margin: 18px auto 0;
  }

  .trends__icon-text {
    font-size: 18px;
  }

  .team__block {
    margin: 0 auto 60px;
  }

  .team__span {
    height: auto;
    opacity: 1;
    padding: 10px 0;
    bottom: 0;
  }

  .contacts {
    margin: 0 auto 40px;
  }

  .contacts__content {
    padding-left: 50px;
  }

  .form {
    margin: auto;
  }

}

@media screen and (max-width: 680px) {

  .header__content {
    height: 50px;
  }

  .header__menu-open {
    left: -150px;
  }

  .header__link-item {
    text-align: center;
    width: 110px;
  }

  .header__link-item:hover {
    border-radius: 0;
    padding: 21px 20px 22px;
  }

  .header__burger-menu {
    left: 5px;
    top: 2px;
  }

  .logo {
    height: 50px;
    width: 127px;
  }

  .show_menu {
    transform: translateX(150px);
  }

  .container {
    margin: 0;
    width: 100%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    padding: 40px 20px;
  }

  .offers {
    height: auto;
  }

  .offers__content, 
  .flex-container .offers__content--double {
    float: none;
    margin: 0 auto 50px;
    max-width: 500px;
    width: 100%;
  }

  .flex-container .offers__content--double {
    height: 600px;
  }

  .offers__content--double .offers__content-image {
    margin-left: -380px;
  }

  .offers .flex-container:last-child .offers__content:last-child {
    margin-bottom: 0;
  }

  .trends__container {
    height: auto;
  }

  .trends__content {
    float: none;
    margin: 0 auto 60px;
    max-width: 330px;
    width: 90%;
  }

  .trends__content-image {
    margin: 0 1%;
    max-width: 264px;
    width: 98%;
  }

  .trends__icon {
    max-width: 320px;
    width: 100%;
  }

  .trends__icon-title {
    font-size: 16px;
    margin: 25px auto 5px;
  }

  .trends__icon-text {
    font-size: 16px;
  }

  .contacts, 
  .form {
    box-sizing: border-box;
    max-width: 320px;
    width: 100%;
  }
  .contacts__content {
    padding-left: 0;
  }

  .form__input, 
  .form__button {
    width: 100%;
  }

}

@media screen and (max-width: 350px) {

  .trends__icon {
    width: 250px;
  }

  .trends__icon-title {
    line-height: 18px;
    margin: 10px auto 10px;
  }

  .trends__icon-text {
    line-height: 18px;
    margin-bottom: 10px;
  }

  .team__block {
    height: auto;
    width: 100%;
  }

  .team__span {
    margin-bottom: 6px;
  }

  .contacts__content {
    height: 60px;
  }

  .contacts__text {
    padding: 0 5px;
  }

  .contacts__link {
    line-height: 60px;
    margin: 0;
  }

}