body {
  font-family: 'Kanit', sans-serif;
	margin: 0 auto;
	padding: 0 auto;
}

section {
  height: 100%;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.container__title {
  float: none;
  height: 110px;
  text-align: center;
}

.container__line {
  box-sizing: border-box;
  display: block;
  float: left;
  margin: 70px 0 0;
  opacity: 0.5;
  width: 100%;
}

.container__text {
  background-color:#ffffff;
  float: left;
  display: inline;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  margin: 60px auto 0;
  padding: 0 10px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  width: fit-content;
}

.header {
  margin: 100px auto 0;
  position: absolute;
  width: 100%;
	z-index: 10;
}

.header__content {
  background: #e4e3e38a;
  display: flex;
  justify-content: space-between;
	height: 67px;
  margin: 0 10%;
  transition-duration: 0.5s;
  width: 80%;
}

.header__sticky {
  box-shadow: 0 3px 10px #888888;
  justify-content: center;
  left: 0;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.header__logo {
	width: 170px;
}

.header__navigation {
  display: flex;
  justify-content: flex-end;
}

.header__menu {
	margin: 0;
	padding: 0;
}

.header__item {
  float: left;
  list-style-type: none;
	text-transform: uppercase;
}

.header__link-item {
	color:  #000000;
  display: block;
  padding: 21px 20px 22px;
  text-decoration: none;
  transition-duration: 0.3s;
}

.header__link-item:hover {
  background: #6c6e7c;
  border-radius: 0 0 5px 5px;
  color: #ffffff;
  padding-top: 40px;
}

.header__burger-menu {
  display: none;
}

.swiper-wrapper{
	position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  box-sizing: border-box;
  height: 100%;
  padding: 50px 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  float: none;
}

.flex-container .offers__content--double {
  float: left;
  height: auto;
  margin-bottom: 10px;
  width: 66.4%;
}

.offers__content {
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  width: 32.8%;
}

.offers__content-image {
  display: block;
  float: none;
  transition-duration: 0.5s;
  width: 100%;
}

.offers__content:hover .offers__content-image{
  transform: scale(1.3);
}

.offers__content:hover .offers__link {
  opacity: 1;
  padding-left: 40px;
}

.offers__link {
  color: #ffffff;
  bottom: 20px;
  font-size: 24px;
  opacity: 0;
  padding-left: 150px;
  position: absolute;
  text-transform: uppercase;
  transition-duration: 0.5s;
  z-index: 5;
}








h2 {
  font-size: 24px;
  text-transform: uppercase;
  width: 200px;
  float: left;
  margin: 0;
  margin-left: 15px;
  padding: 3px 10px 10px 10px;
}


.third-content a p:hover{
  color: white;
  background: #ddb192;
  -webkit-transform:translateX(10px);
  transform:translateX(10px);
  border-radius: 5px;
}

/* 
.third h3 {
  width: 140px;
} */


.third-content__img {
  width: 50%;
  float: left;
}

/* 
.third h3 {
  margin-left: -80px;
}
 */

.third-content-box a {
  font-weight: 700;
  position: absolute;
  padding: 100px 41px;
  font-size: 50px;
  color: #ddb192;
  opacity: 0;
}


.third-content-box a:hover{
  opacity: 1;
  z-index: 1;
  background-color: rgba(77, 77, 77, 0.5);
}


.third-content img {
  z-index:2;
  width: 230px;
  height: 160px;
  padding: 60px 26px 50px;
}

.third-content {
  display: block;
  width: 46%;
  float: left;
  margin: 0 0 40px 3%;
}

.third-content a {
  box-sizing: content-box;
  width: 200px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}


.third-content a p{
  position: relative;
  -webkit-transform:translateX(0px);
  transform:translateX(0px);
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition:         all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin-top: 10px;
  font-size: 16px;
  color: #000;
}


.third-content p {
  margin:0;
  text-align: center;
  font-size: 13px;
  color: #ddb192;
}


.third-content del{
  color: rgb(155, 155, 155);
}


.icons h4, .icons p{
  display: block;
}


.icons {
  margin-top: 80px;
  width: 32%;
  height: 110px; 
  border: double 5px rgba(196, 196, 196, 0.37);
}
 

.icons h4 {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  margin-top: 35px;
}


.icons p {
  margin-top: 0;
  color: rgb(155, 155, 155);
}


.icon-container {
  display: flex;
  justify-content: space-between;
  float: none;
}


/* .forth h3{
  width: 170px;
  margin-left: -105px;
} */


.forth-content span:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.411);
}


.forth-content {
  width: 360px;
  height: 40%;
}


.forth-content img {
  width: 100%; 
  height: 100%;
}


.forth-content h4 {
  text-transform: uppercase;
  color: white;
  margin-left: 0;
  margin-bottom: 0;
}


.forth-content p {
  margin-left: 0;
  margin-top: 0;
  color: #ddb192;
}


.forth-content span {
  opacity: 0;
  width: 360px;
  position: absolute;
  padding-top: 447px;
  text-align: center;
}


.wrapper div {
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0.1vw solid #a78247;
  overflow: hidden;
}


.icons div:before, .icons div:after {
  content: '';
  display: block;
  position: absolute;
}


.wrapper {
  float: left;
  position: relative;
  top: 50%;
  width: 60px;
  height: 75px;
  border: 0;
  transform: translate(-5%, -40%);
  overflow: visible;
}


.wrapper .icon {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 0;
  overflow: visible;
}


.wrapper .icon .moon, .wrapper .icon .planetoid, .wrapper .icon .planet {
  border-radius: 50%;
  background: white;
}


.wrapper .icon.icon5 .planet {
  top: 15%;
  left: 25%;
  width: 62%;
  height: 62%;
  border-color: #a78247 #a78247 #a78247 transparent;
  transform: rotate(-47deg);
  overflow: visible;
}


.wrapper .icon.icon5 .planet:after {
  top: -25%;
  left: 50%;
  width: 1%;
  height: 1%;
  border: 0.1vw solid #a78247;
  border-radius: 50%;
}


.wrapper .icon.icon5 .rocket {
  top: 0;
  left: 33%;
  width: 40%;
  height: 100%;
  border-color: transparent;
  transform: rotate(47deg);
}


.wrapper .icon.icon5 .rocket .body {
  top: 0;
  left: 15%;
  width: 70%;
  height: 90%;
  border-color: transparent;
  animation: icon5body 0.5s ease infinite;
}


.wrapper .icon.icon5 .rocket .body:before, .wrapper .icon.icon5 .rocket .body:after {
  top: -10%;
  width: 200%;
  height: 118%;
  border-radius: 50%;
  border: 0.1vw solid #a78247;
}


.wrapper .icon.icon5 .rocket .body:after {
  left: -110%;
}


.wrapper .icon.icon5 .rocket .thruster.left, .wrapper .icon.icon5 .rocket .thruster.right {
  top: 60%;
  left: 7.5%;
  width: 25%;
  height: 25%;
  border-color: transparent;
}


.wrapper .icon.icon5 .rocket .thruster.left:before, .wrapper .icon.icon5 .rocket .thruster.left:after, .wrapper .icon.icon5 .rocket .thruster.right:before, .wrapper .icon.icon5 .rocket .thruster.right:after {
  border-radius: 50%;
  border: 0.1vw solid #a78247;
}


.wrapper .icon.icon5 .rocket .thruster.left:before, .wrapper .icon.icon5 .rocket .thruster.right:before {
  top: -10%;
  width: 200%;
  height: 120%;
}


.wrapper .icon.icon5 .rocket .thruster.left:after, .wrapper .icon.icon5 .rocket .thruster.right:after {
  top: 60%;
  left: 30%;
  width: 132%;
  padding-top: 132%;
}


.wrapper .icon.icon5 .rocket .thruster.right {
  left: 64.5%;
  transform: rotatey(180deg);
}


.wrapper .icon.icon5 .rocket .thruster.mid {
  top: 60%;
  left: 23%;
  width: 51%;
  height: 12%;
  border-color: transparent;
}


.wrapper .icon.icon5 .rocket .thruster.mid:before {
  top: 0;
  left: 0;
  width: 90%;
  padding-top: 90%;
  border-radius: 50%;
  border: 0.1vw solid #a78247;
  border-color: #a78247 #a78247 transparent #a78247;
}


.wrapper .icon.icon5 .line {
  height: 1%;
  border-color: #a78247 transparent transparent transparent;
  transform: rotate(-45deg);
  transform-origin: top right;
  overflow: visible;
}


.wrapper .icon.icon5 .line:before {
  height: 1%;
  border: 0.1vw solid #a78247;
  border-color: #a78247 transparent transparent transparent;
}


.wrapper .icon.icon5 .line.left {
  width: 24%;
  top: 60%;
  left: 4%;
  animation: icon5line1 0.5s ease infinite reverse;
}


.wrapper .icon.icon5 .line.left:before {
  top: -15%;
  left: -60%;
  width: 20%;
}


.wrapper .icon.icon5 .line.mid {
  width: 44%;
  top: 50%;
  left: 5.5%;
  animation: icon5line2 0.5s ease infinite;
}


.wrapper .icon.icon5 .line.mid:before {
  top: -105%;
  left: 110%;
  width: 10%;
}


.wrapper .icon.icon5 .line.right {
  width: 14%;
  top: 80%;
  left: 17%;
  animation: icon5line3 0.5s ease 1s infinite reverse;
}


.wrapper .icon.icon5 .line.right:before {
  width: 0;
  border-color: transparent;
}


.wrapper .icon.icon12 .planet {
  top: 25%;
  left: 10%;
  width: 65%;
  height: 65%;
  animation: icon12planet 0.5s linear infinite alternate;
}


.wrapper .icon.icon12 .planet:before {
  top: 17.5%;
  left: 17.5%;
  width: 65%;
  height: 65%;
  border: 0.1vw solid #a78247;
  border-radius: 50%;
}


.wrapper .icon.icon12 .line {
  height: 1%;
  border-color: #a78247 transparent transparent transparent;
  transform-origin: top left;
  transform: rotate(-45deg);
  overflow: visible;
}


.wrapper .icon.icon12 .line.line1 {
  top: 32%;
  left: 22%;
  width: 30%;
  animation: icon12line1 0.5s ease infinite alternate;
}


.wrapper .icon.icon12 .line.line2 {
  top: 63%;
  left: 25%;
  width: 20%;
  animation: icon12line2 0.5s ease infinite alternate;
}


.wrapper .icon.icon12 .line.line2:before, .wrapper .icon.icon12 .line.line2:after {
  top: -0.1vw;
  height: 1%;
  border: 0.1vw solid #a78247;
  border-color: #a78247 transparent transparent transparent;
}


.wrapper .icon.icon12 .line.line2:before {
  width: 65%;
  left: 145%;
}


.wrapper .icon.icon12 .line.line2:after {
  width: 65%;
  left: 250%;
}


.wrapper .icon.icon12 .line.line3 {
  top: 63%;
  left: 42%;
  width: 20%;
  animation: icon12line3 0.5s ease infinite alternate;
}


.wrapper .icon.icon12 .line.line3:before {
  top: -0.2vw;
  height: 1%;
  border: 0.1vw solid #a78247;
  border-color: #a78247 transparent transparent transparent;
  width: 145%;
  left: 135%;
}


.wrapper .icon.icon12 .line.line4 {
  top: 67%;
  left: 55%;
  width: 50%;
  animation: icon12line4 0.5s ease infinite alternate;
}


.wrapper .icon.icon12 .line.line4:before {
  top: -0.2vw;
  left: 110%;
  width: 10%;
  height: 1%;
  border: 0.1vw solid #a78247;
  border-color: #a78247 transparent transparent transparent;
}
.close

.wrapper .icon.icon12 .line.line5 {
  top: 80%;
  left: 65%;
  width: 50%;
  animation: icon12line5 0.5s ease infinite alternate;
}


.wrapper .icon.icon14 .top {
  top: 12.5%;
  left: 10%;
  width: 80%;
  height: 10%;
  border-color: transparent;
  overflow: visible;
}


.wrapper .icon.icon14 .top .line {
  top: 49%;
  height: 2%;
  width: 36%;
  border-color: #a78247 transparent transparent transparent;
  overflow: visible;
}


.wrapper .icon.icon14 .top .line:before {
  margin-top: -25%;
  padding: 18%;
  border: 0.1vw solid #a78247;
  border-radius: 50%;
}


.wrapper .icon.icon14 .top .line.left {
  left: 15%;
  transform-origin: 100% 50%;
  animation: icon14lineleft 5s linear 0s infinite alternate;
}


.wrapper .icon.icon14 .top .line.left:before {
  margin-left: -50%;
}


.wrapper .icon.icon14 .top .line.right {
  right: 15%;
  transform-origin: 0% 50%;
  animation: icon14lineright 5s linear 0s infinite alternate;
}


.wrapper .icon.icon14 .top .line.right:before {
  margin-left: 100%;
}


.wrapper .icon.icon14 .top .square {
  top: -0.1vw;
  left: calc(45% - 0.1vw);
  padding: 6%;
  background: white;
  z-index: 1;
}


.wrapper .icon.icon14 .planet {
  top: 17.5%;
  left: 17.5%;
  width: 65%;
  height: 65%;
  border-color: #a78247 #a78247 transparent #a78247;
  transform: rotate(15deg);
  overflow: visible;
  animation: icon14planet 5s ease 0s infinite alternate;
}


.wrapper .icon.icon14 .planet:after {
  top: 75%;
  width: 15%;
  padding-top: 15%;
  border: 0.1vw solid #a78247;
  transform: rotate(-15deg);
  background: white;
}


.wrapper .icon.icon14 .ring {
  top: 37.5%;
  left: 10%;
  width: 80%;
  height: 25%;
  border-radius: 50%;
  border-color: transparent #a78247 #a78247 #a78247;
  transform: rotate(17deg);
  animation: icon14ring 5s ease 0s infinite alternate;
}


.wrapper .icon.icon14 .moon {
  top: 90%;
  left: 10%;
  width: 12%;
  height: 12%;
  animation: icon14moon 5s ease-in-out 0s infinite alternate;
}


.wrapper .icon.icon14 .pen {
  top: 22%;
  left: 30%;
  width: 40%;
  height: 65%;
  border: 0;
  overflow: visible;
}


.wrapper .icon.icon14 .pen .head.left {
  top: 0;
  left: 38%;
  height: 65%;
  width: 1%;
  border-color: transparent transparent transparent #a78247;
  transform-origin: top left;
  transform: rotate(20deg);
  overflow: visible;
}


.wrapper .icon.icon14 .pen .head.left:before {
  top: 100%;
  left: -0.15vw;
  height: 40%;
  width: 1%;
  border: 0.1vw solid #a78247;
  border-color: transparent transparent transparent #a78247;
  transform-origin: top center;
  transform: rotate(-60deg);
}


.wrapper .icon.icon14 .pen .head.right {
  top: 0;
  left: 60%;
  height: 65%;
  width: 1%;
  border-color: transparent transparent transparent #a78247;
  transform-origin: top center;
  transform: rotate(-20deg);
  overflow: visible;
}


.wrapper .icon.icon14 .pen .head.right:before {
  top: 100%;
  right: -0.15vw;
  height: 40%;
  width: 1%;
  border: 0.1vw solid #a78247;
  border-color: transparent transparent transparent #a78247;
  transform-origin: top center;
  transform: rotate(60deg);
}


.wrapper .icon.icon14 .pen .line {
  top: 0;
  left: 50%;
  width: 1%;
  height: 45%;
  border-color: transparent transparent transparent #a78247;
  overflow: visible;
}


.wrapper .icon.icon14 .pen .line:after {
  top: 100%;
  left: -0.2vw;
  width: 0.2vw;
  padding-top: 0.2vw;
  border: 0.1vw solid #a78247;
  border-radius: 50%;
}


.wrapper .icon.icon14 .pen .bottom {
  top: 80%;
  left: 18%;
  width: 64%;
  height: 15%;
}


@keyframes icon5body {
  0% {
    top: 0%;
    left: 15%;
  }
  100% {
    top: 0.5%;
    left: 15.5%;
  }
}
@keyframes icon5line1 {
  0% {
    top: 60%;
    left: 4%;
  }
  100% {
    top: 60.5%;
    left: 4.5%;
  }
}
@keyframes icon5line2 {
  0% {
    top: 50%;
    left: 5.5%;
  }
  100% {
    top: 50.5%;
    left: 6%;
  }
}
@keyframes icon5line3 {
  0% {
    top: 80%;
    left: 17%;
  }
  100% {
    top: 80.5%;
    left: 17.5%;
  }
}
@keyframes icon12planet {
  0% {
    top: 25%;
    left: 10%;
  }
  100% {
    top: 25.5%;
    left: 10.5%;
  }
}
@keyframes icon12line1 {
  0% {
    top: 32%;
    left: 22%;
  }
  100% {
    top: 32.5%;
    left: 22.5%;
  }
}
@keyframes icon12line2 {
  0% {
    top: 63%;
    left: 25%;
  }
  100% {
    top: 63.5%;
    left: 25.5%;
  }
}
@keyframes icon12line3 {
  0% {
    top: 63%;
    left: 42%;
  }
  100% {
    top: 63.5%;
    left: 42.5%;
  }
}
@keyframes icon12line4 {
  0% {
    top: 67%;
    left: 55%;
  }
  100% {
    top: 67.5%;
    left: 55.5%;
  }
}
@keyframes icon12line5 {
  0% {
    top: 80%;
    left: 65%;
  }
  100% {
    top: 81%;
    left: 66%;
  }
}
@keyframes icon14lineleft {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
@keyframes icon14lineright {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
@keyframes icon14planet {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
@keyframes icon14ring {
  0% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
@keyframes icon14moon {
  0% {
    left: 5%;
  }
  100% {
    left: 95%;
  }
}


footer {
  background-color: rgba(0, 0, 0, 0.801);
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
}


.form .text-input, .form .textarea, .form .label, .form .button {
  padding: 1em 1.5em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  line-height: normal;
  border: 1px solid transparent;
  border-radius: 0;
}


.form .text-input, .form .textarea {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font: inherit;
  line-height: normal;
  width: 100%;
  box-sizing: border-box;
  display: block;
  padding-left: 0;
  border-bottom-color: rgb(155, 155, 155);
  background: rgb(255, 255, 255);
  outline: none;
  color: rgb(0, 0, 0);
}


.form .text-input:placeholder, .form .textarea:placeholder {
  color: rgb(0, 0, 0);
}


.form .text-input:-webkit-autofill, .form .textarea:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
  border-top-color: white;
  border-left-color: white;
  border-right-color: white;
}


.form .error.text-input, .form .error.textarea, .error .form .text-input, .form .error .text-input, .error .form .textarea, .form .error .textarea {
  border-color: transparent transparent rgb(155, 155, 155) transparent;
}


.form:not(.has-floated-label) .text-input:active, .form:not(.has-floated-label) .textarea:active, .form:not(.has-floated-label) .text-input:focus, .form:not(.has-floated-label) .textarea:focus {
  border-color: transparent transparent rgb(155, 155, 155) transparent;
}


.form .label {
  position: absolute;
  z-index: 10;
  pointer-events: none;
  padding-left: 0;
}


.form .label {
  top: 0;
  left: 0;
  color: rgb(155, 155, 155);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}


.active .form .label, .form .active .label {
  font-size: 0.75em;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0;
  color: rgb(155, 155, 155);
  background: white;
}


.focus .form .label, .form .focus .label {
  color: transparent;
}


.form.has-floated-label .field:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  -webkit-transition: width 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: width 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}


.form.has-floated-label .field.focus:after {
  width: 100%;
}


.form .button {
  font: inherit;
  line-height: normal;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.14286em;
}


.form .button:hover, .form .button:focus, .form .button:active {
  color: white;
  background: black;
}


.form .button:active {
  position: relative;
  top: 1px;
  left: 1px;
}


.form {
  max-width: 50%;
  padding: 1em 2em;
  box-sizing: border-box;
  overflow: hidden;
}


.form .field {
  position: relative;
  width: 100%;
  margin-bottom: 1.5em;
  float: left;
}


.form .field:last-child {
  float: right;
  width: auto;
}


.form .textarea {
  max-width: 100%;
}


svg path {
  fill: rgb(155, 155, 155);
}


a {
  text-decoration: none;
  color: inherit;
}


.footer {
  width: 450px;
  padding-left: 32px;
  box-sizing: border-box;
}


.logo_footer {
  width: 200px;
  margin-left: 100px;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}


.footer hr {
  margin-top: 0;
  margin-bottom: 15px;
}


footer h3 {
  border-radius: 10px;
}


.content_img {
  width: 20px;
}


.content_footer {
  width: 100%;
  margin-top: 10px;
}


.content_footer a {
  width: 100%;
  margin-left: 10px;
  font-size: 20px;
  color: white;
}


.footer p {
  color: rgb(155, 155, 155);
}


@media screen and (max-width: 1215px) {
 .flex-container__img {
    margin-left: 66.7%;;
  }
  

  .third-content-box a {
    width: 23%;
    padding-right: 0;
    padding-left: 0;
  }


  .text {
    margin-top: 30%;
  }


  .third-content img {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }
}


@media screen and (max-width: 1096px) {
  .forth-content span {
    padding-top: 41%;
    width: 33.2%;
  }
}

  
@media screen and (max-width: 1015px) {

  .header__content {
    justify-content: center;
    left: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .header__menu {
    display: none;
  }

  .header__menu-open {
    display: block;
    left: -250px;
    position: absolute;
  }

  .header__item {
    float: none;
  }

  .header__link-item:hover {
    border-radius: 0 5px 5px 0;
    padding: 21px 20px 22px 100px;
  }

  .header__burger-menu {
    cursor: pointer;
    display: block;
    height: 46px;
    left: 10px;
    position: fixed;
    top: 10px;
    width: 54px;
  }

  .show_menu {
    transform: translateX(250px);
  }

  .container {
    width: 660px;
  }

  .container__line{
    display: none;
  }

  .flex-container {
    display: block;
    width: 100%;
  }

  .offers__content, 
  .flex-container .offers__content--double {
    float: left;
    margin: 0 5px 10px;
    width: 320px;
  }

  .offers__content:hover .offers__content-image {
    transform: none;
  }

  .offers__content:hover .offers__link {
    padding-left: 40px;
  }

  .offers__content--double .offers__content-image {
    height: 679.9px;
    margin-left: -150%;
    width: auto;
  }

  .offers__link {
    padding-left: 40px;
    opacity: 1;
  }






  /* footer h3 {
    background: transparent;
    color: white;
  } */


  .footer {
    width: 100%;
  }


  footer .flex-container {
    width: 30em;
  }


  .form {
    max-width: 100%;
  }
 

  .forth .flex-container {
    width: 31em;
  }


  .forth-content span {
    width: 500px;
    padding-top: 653px;
  }


  .forth-content {
    width: 500px;
  }


  .text {
    margin-top: 290px;
  }

  .wrapper {
    width: 100px;
    height: 105px;
   transform: translate( 10%, -50%);
  }


  .wrapper .icon {
    width: 100px;
    height: 100px;
  }


  .icon-container {
    width: 28.8em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 1600px;
  }


  .icons {
    width: 450px;
  }


  .icons h4, .icons p {
    text-align: center;
  }


  


  .third-content-box a {
    padding: 121px 63.5px;
    width: 200px;
  }


  .third-content__img {
    width: 659px;
    margin-left: 3px;
    margin-bottom: 5px;
    height: 100%;
  }


  .third-content img {
    width: 276px;
    height: 200px;
    padding-left: 25px;
    padding-right: 25px;
  }


  .third-content {
    width: 326.5px;
    margin-bottom: 20px;
    margin-left: 3px;
    margin-right: 3px;
  }


  .third .container__title{
    margin-top: 1033px;
  }


  .logo{
    padding-left: 0;
  }




  .second-content-first {
    width: 658px;
    max-width: 670px;
    margin-bottom: 5px;
    margin-right: 3px;
    margin-left: 3px;
  }


  .second-content{
    float: left;
    width: 326px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 5px;
  }

  
  .flex-container__img:first-child {
    margin-left: -3px;
  }


  .flex-container__img {
    margin-left: -334px;
    margin-top: 686px;
  }


  /* .third h3, h3{
    display: block;
    width: 100%;
    margin-left: -1%;
    left: 0;
  }


  .forth h3 {
    width: 100%;
    margin-left: 0;
  } */


  .menu_hidden {
    display: block;
  }

	
	.menu {
		display: none;
  }


  html {
    overflow-x: hidden;
  }

  
  .menu__button {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10000;
    background:transparent;
    width:50px;
    height:40px;
    overflow:hidden;
    cursor:pointer;
  }


  .menu__button:hover{
    cursor:pointer;
  }


  .menu__button > .line{
    display:block;
    width:80%;
    height:2px;
    background:rgb(255, 255, 255);
    margin:8px auto;
  }


  .menu__button .line:nth-child(1), .menu_button .line:nth-child(3){
    -webkit-transform: rotate(0deg) translateY(0);
    -moz-transform: rotate(0deg) translateY(0);
    transform: rotate(0deg) translateY(0);
      -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition:         all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); 
  }


  .menu__button .line:nth-child(2){
    -webkit-transform:translateX(0);
    -moz-transform:translateX(0);
    transform:translateX(0);
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition:         all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); 
  }


  .close .line:nth-child(1) {
    -webkit-transform:rotate(45deg) translateY(15px);
    -moz-transform:rotate(45deg) translateY(15px);
    transform:rotate(45deg) translateY(15px);
    
  }


  .close .line:nth-child(3) {
    -webkit-transform:rotate(-45deg) translateY(-15px);
    -moz-transform:rotate(-45deg) translateY(-15px);
    transform:rotate(-45deg) translateY(-15px);
  }


  .close .line:nth-child(2){
    -webkit-transform:translateX(-100px);
    -moz-transform:translateX(-100px);
    transform:translateX(-100px);
  }

  .menu__button{
    display: block;
  }


  .burger-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 400px;
    height:800px;
    overflow:hidden;
    padding-left: 0;
    -webkit-transform: translateX(-150%);
    transform: translateX(-150%);
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-delay: .1s;
  }


  .burger-menu menu {
    margin: 0;
    padding: 20px 0;
    list-style: none;
  }


  .burger-menu  menu li {
    margin: 0;
    padding: 0;
  }


  .burger-menu menu li a{
    color: black;
    text-decoration:none;
    display: block;
    padding: 20px;
    padding-left: 200px;
    -webkit-transform:translateX(0px);
    transform:translateX(0px);
      -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition:         all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }


  .burger-menu menu li a:hover{
    color: white;
    background: #ddb192;
    -webkit-transform:translateX(20px);
    transform:translateX(20px);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }


  /* body.nav_is_visible {
    transform: translateX(300px);
  }


  body.nav_is_visible .burger-menu {
    transform: translateX(-100%);
  } */
}




@media screen and (max-width: 680px) {

  .header__logo {
    height: 50px;
    margin-top: 8px;
    width: 127px;
  }

  .header__menu-open {
    left: -150px;
  }

  .header__link-item {
    text-align: center;
    width: 110px;
  }

  .header__link-item:hover {
    border-radius: 0;
    padding: 21px 20px 22px;
  }

  .show_menu {
    transform: translateX(150px);
  }

  .container {
    margin: 0;
    width: 100%;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    padding: 40px 20px;
  }

  .offers__content, 
  .flex-container .offers__content--double {
    float: none;
    margin: 0 auto 50px;
    max-width: 350px;
    width: 100%;
  }

  .flex-container .offers__content--double {
    height: 600px;
  }


















  .logo_footer {
    margin-left: 0;
  }


  footer .flex-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }


  .forth .flex-container{
    width: 22.1em;
    margin-left: auto;
    margin-right: auto;
  }


  .forth-content span {
    width: 22.1em;
    padding-top: 437px;
  }


  .forth-content {
    width: 100%;
  }


  .icon-container {
    margin-top: 0;
  }


  .second-content-first {
    margin-left: 0;
    width: 100%;
    height:  auto;
  }


  .second-content-first img {
    margin-left: 0;
    height: auto;
  }


  .second-content .text {
    margin-top: 90%;
  }


  .second-content-first .text {
    margin-top: 38%;
  }
  

  .second-content img {
    margin: 0;
    width: 100%;
    height: 80%;
  }


  .flex-container__img {
    margin-top: 372%;
    margin-left: -102.8%;
  }


  .second-preview, .second-content .second-preview {
    width: 99%;
  }


  /* .flex-container {
    width: 100%;
    margin: 0;
  } */


  .second-content {
    width: 100%;
    margin-left: 0px;
    margin-right: 0.5%;
    max-width: 100%;
    height: auto;
  }


  .flex-container__img:first-child {
    margin-left: -7px;
  }


  .third-content__img{
    margin-left: 0;
    width: 100%;
    position: relative;
    height: auto;
    display: block;
    float: none;
    margin-bottom: 0;
  }


  .third-content {
    margin-left: 0;
  }
  

  .third .container__title {
    margin-top: 480%;
  }


  .third-content img {
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    height: 20px;
  }


  .third-flex-container {
    margin-left: auto;
    margin-right: auto;
    width: 20.35em;
    height: 1500px;
  }
}



@media screen and (min-width: 40em) {
  .form .field.half {
    width: calc(50% - 2em);
    margin-right: 2em;
  }

  
  .form .field.half + .half {
    margin-left: 2em;
    margin-right: 0;
  }
}